h2{font-size:2.1rem; text-align: center; color: #232323;}
h3{font-size: 1.2rem; text-align: center; margin-bottom: 50px; margin-top: 30px; color: #232323;}
h4{font-size: 1.7rem; color: #232323;}
h5{font-size: 1.5rem; color: #232323;}



/*********************section****************************/
section::after{content: ''; display: block; clear:both;}
#sec1,#sec2,#sec3,#sec4,#sec5,#sec6 {margin-bottom: 110px;}



#sec1 {position: relative;}
#sec1 .control_box{padding:20px; width: 570px; height: 450px;
            background-color:rgba(0,0,0,0.5);
            position:absolute;top:200px;right:30px;z-index: 99999;}
#sec1 .control_box::after{content: ''; display: block; clear: both;}
#sec1 .control_txt1 {font-size: 30px; font-weight: lighter; color:white; padding-top:50px;
                     padding-left: 13px;}
#sec1 .control_txt2 {font-size: 30px; font-weight: bolder; color:white; padding-left: 15px;}
#sec1 .control_sbox1{
      position: relative;
      padding-top:23px;padding-bottom: 23px; padding-left: 75px; margin-bottom: 15px;
      margin-top:20px;
      background: url(../images/loupe.png) no-repeat #fff;
      background-position:25px center;
      width: 570px;
      box-sizing: border-box;
      background-size: 30px;
 
     
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
 }
#sec1 .control_sbox1 input#search{
      border: none;
      background-color:transparent;
      font-size: 14pt;
      color: #63717f;
      width:400px
    }
#sec1 .control_sbox2{
      position: relative;
      width: 280px; box-sizing: border-box;
      padding-top:15px;padding-bottom: 15px; padding-left: 75px; margin-bottom: 15px; margin-right: 10px;
      background: url(../images/location.png) no-repeat;
      background-position:20px center;
      background-color: #fff;
      background-size: 37px;

      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      float: left;
}
#sec1 .control_sbox2 .sbox2_txt {padding-bottom: 5px;}
#sec1 .control_sbox2 input#search{
      border: none;
      background-color: transparent;
      font-size: 13pt; color:#63717f; width: 400px;
}

#sec1 .control_sbox3{
      position: relative;
      width: 280px; box-sizing: border-box;
      padding-top:15px; padding-bottom:15px; padding-left:75px; margin-bottom:15px;
      background: url(../images/calendar.png) no-repeat;
      background-position: 20px center;
      background-color: #fff;
      background-size: 37px;

      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      float: left;
}
#sec1 .control_sbox3 .sbox3_txt {padding-bottom:5px;}
#sec1 .control_sbox3 input#search{
      border: none;
      background-color: transparent;
      font-size: 13pt; color:#63717f; width: 400px;
}

#sec1 .control_sbox4{
      position: relative;
      width: 375px; box-sizing: border-box;
      padding-top:15px; padding-bottom:15px; padding-left:75px; margin-bottom:15px; margin-right: 10px;
      background: url(../images/customer.png) no-repeat;
      background-position: 20px center;
      background-color: #fff;
      background-size: 37px;

      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      float: left;
}

#sec1 .control_sbox4 .sbox4_txt {padding-bottom:5px;}
#sec1 .control_sbox4 input#search{
      border: none;
      background-color: transparent;
      font-size: 13pt; color:#63717f; width: 400px;
} /*부모자식관계*/

#sec1 .control_button{
      position: relative;
      width: 185px; box-sizing: border-box;
      padding-top:25px; padding-bottom:25px;
      background-color: #5492F6;

      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      float: left;
      border: none;
}
#sec1 input.control_button[type="submit"]{
      font-size: 14pt; color: #fff;
      font-weight: normal;
} /*동등해야 수정가능*/

@media all and (max-width:1240px) {
      #sec1 .control_box{top:100px;}

}

/*section2 시작*/
#sec2 .sec2_l {float: left;}
#sec2 .sec2_l > div,#sec2 .sec2_r > div{ position: relative;}
#sec2 .sec2_l_first {margin-bottom: 17px;}
#sec2 .sec2_txtbox1 {position: absolute; width:500px;
                     top:90px; right:150px; z-index: 99999;
                     background-color: rgba(0,0,0,0.5);
                     padding-top: 50px; padding-bottom: 50px;}

#sec2 .sec2_txtbox1 .sec2_txtbox1_txt1 {text-align: center; font-size: 1rem;
                                        font-weight: normal; color:#fff;}
#sec2 .sec2_txtbox1 .sec2_txtbox1_txt2 {text-align: center; font-size: 1.3rem;
                                        font-weight: normal; color:#8467FF;
                                        padding-top: 10px; padding-bottom: 10px;
                                        font-weight: bold;}
#sec2 .sec2_l_second {float: left;}
#sec2 .sec2_txtbox2 {position: absolute; width:301px;
                     top:50px; right:50px; z-index: 99999;
                     background-color: rgba(0,0,0,0.5);
                     padding-top: 30px; padding-bottom: 30px;}

#sec2 .sec2_txtbox2 .sec2_txtbox2_txt1 {text-align: center; font-size: 0.9rem;
                                        font-weight: normal; color:#fff;}
#sec2 .sec2_txtbox2 .sec2_txtbox2_txt2 {text-align: center; font-size: 1.1rem;
                                          font-weight: normal; color:#9AF5FF;
                                          padding-top: 10px; padding-bottom: 10px;
                                          font-weight: bold;}
#sec2 .sec2_l_third {float: right;}
#sec2 .sec2_txtbox3 {position: absolute; width:301px;
      top:50px; right:50px; z-index: 99999;
      background-color: rgba(0,0,0,0.5);
      padding-top: 30px; padding-bottom: 30px;}

#sec2 .sec2_txtbox3 .sec2_txtbox3_txt1 {text-align: center; font-size: 0.9rem;
                         font-weight: normal; color:#fff;}
#sec2 .sec2_txtbox3 .sec2_txtbox3_txt2 {text-align: center; font-size: 1.1rem;
                           font-weight: normal; color:#FFFF78;
                           padding-top: 10px; padding-bottom: 10px;
                           font-weight: bold;}

#sec2 .sec2_r {float: right;}
#sec2 .sec2_r_first {margin-bottom: 12px;}
#sec2 .sec2_txtbox4 {position: absolute; width:301px;
                     top:40px; right:70px; z-index: 99999;
                     background-color: rgba(0,0,0,0.5);
                     padding-top: 50px; padding-bottom: 50px;}

#sec2 .sec2_txtbox4 .sec2_txtbox4_txt1 {text-align: center; font-size: 0.9rem;
                                         font-weight: normal; color:#fff;}
#sec2 .sec2_txtbox4 .sec2_txtbox4_txt2 {text-align: center; font-size: 1.1rem;
                                          font-weight: normal; color:#ADFF8B;
                                          padding-top: 10px; padding-bottom: 10px;
                                          font-weight: bold;}
#sec2 .sec2_txtbox5 {position: absolute; width:301px;
                        top:80px; right:70px; z-index: 99999;
                        background-color: rgba(0,0,0,0.5);
                        padding-top: 50px; padding-bottom: 50px;}
                           
#sec2 .sec2_txtbox5 .sec2_txtbox5_txt1 {text-align: center; font-size: 0.9rem;
                                          font-weight: normal; color:#fff;}
#sec2 .sec2_txtbox5 .sec2_txtbox5_txt2 {text-align: center; font-size: 1.1rem;
                                          font-weight: normal; color:#FF4665;
                                          padding-top: 10px; padding-bottom: 10px;
                                          font-weight: bold;}
/*section2 종료*/

/*section3 시작*/
#sec3 .tabSet{margin-bottom:30px;}
#sec3 .tabset_w {float: left; padding:50px 0;
             width:50%; height:450px;
             position: relative;}
#sec3 .tabset_txt {font-size: 3rem;
                   font-family : nexon_bold; color:#3D3D3D; opacity: 0.5; 
                   position: absolute;
                   top:115px; right:355px;
                   transform: rotate(270deg);}
#sec3 .tabs{background-color: #FFB300; box-sizing: border-box; padding-left: 300px; 
             padding-top: 10px; padding-bottom: 10px;}
#sec3	 .tabs li{padding-top: 30px; padding-bottom: 10px; position: relative;
               font-size: 1.25rem; font-weight: bolder;}
#sec3	 .tabs li.on > a{border-bottom: 2px solid #434343;}
#sec3	 .tabs li.on > a:before{content: '';display: block;
               width:8px;height:8px;background-color:#434343;border-radius: 50%;
               position: absolute; left:-30px; top:37px; } /*before 는 앞에 제작한다는말*/
#sec3	 .tabs li a{display:block; padding-bottom: 3px;}
		#sec3	.ul li a:hover{
			text-decoration:underline;
		}
		
		#sec3	.ul li a.active:hover{
			text-decoration:none;
		}
            #sec3	.panels{
	background:#fff;
	min-height:180px;
}
#sec3 .panels {float: right; width:50%;
              position: relative;}
#sec3	.panel {display: none;}
#sec3 .panel_small {position:absolute; top: 230px; left: 30px;}
#sec3 .panel_smalltxt1 {color:#fff; padding-bottom: 20px;
                         font-size: 1.2rem; line-height: 25px;
                         font-weight: normal;}
#sec3 .panel_smalltxt2 {color:#fff; padding-bottom: 40px;
                         font-family : nexon_regular;
                         font-weight: bolder;
                         letter-spacing: 2px;
                         font-size: 2rem;}
#sec3 .panel_smallgo {color:#fff;
                      font-size: 1rem;
                       border: 2px solid #fff ;
                       border-radius: 15px;
                       padding: 10px 30px;
                   }


/*p3 열림(초기값) --> 과거에 기억
  p1 클릭 -- > (과거)p3과 관련된건 다 정리함 (창닫기 디자인복원)
               (현재기억)p1 href/href의값과 동일한 이이디의 박스를 show
			   (과거기억)p1 */
/*
    클릭     과거     현재 
	---------------------
	 초기     p3       p3     --> 현재(p3)열기
	 p1       p3       p1     --> 과거(p3)닫기, 현재(p1)열기
	          p1              --> 현재를 과거에 기억시킴 (p3 -> p1)

     p2       p1      p2      --> 과거(p1)닫기, 현재(p2)열기
	          p2              --> 현재를 과거에 기억시킴 (p1 -> p2)

    위 내용은 프린트에 명시된 내용
	밑 내용은 선생님과 같이한 내용

    클릭     상태(클릭한 a와 짝이 되는 div, 클릭한 a의 디자인)
    ---------------------
	초기     p3 열림 : p3과 짝이 되는 div show, p3에 디자인추가 

	p1       모두 닫음, a의 디자인이 제거
	         p1 열림 : p1과 짝이 되는 div show, p1 a에 디자인추가

	p2       모두 닫음, a의 디자인이 제거 
	         p1 열림 : p2와 짝이 되는 div show, p2 a에 디자인 추가

*/




/*#sec3 img{width:400px;position: relative;left:calc(50% - 200px)}*/
#sec3 .clinic_txt{display: none;}
#sec3 .inner > div button{transition: 0.5s;}
#sec3 .inner > div:hover button{background-color:red}
#sec3 .inner > div:hover .clinic_txt{display: block;}
#sec3 .inner > div:hover .clinic_img{display: none;}

/*section3 종료*/

/*section4 시작*/
#sec4 {position: relative;}
#sec4 img {width:100%; min-width: 1280px;}
#sec4 .worldmap_change {position:absolute; left:0; top:0;
                        opacity: 0; transition: 0.8s;}
#sec4:hover .worldmap_change{opacity: 100%;}

/*section4 종료*/

/*section5 시작*/

#sec5 .tabSet{
      margin-bottom:30px;
      position:relative;
}
#sec5 .tabset_ww {
       padding:105px 30px;/*border:1px solid red;*/
      position: absolute;left:0;top:0}
#sec5 .tabset_txt {
      font-size: 1.7rem; color: #fff; 
}
#sec5 .tabs{padding-top: 50px;}
#sec5 .tabs li{font-size: 1.1rem; color: #fff; line-height: 42px;
                font-weight: bolder;}
#sec5 .tabs li a{			}
#sec5 .ul li a:hover{		}
#sec5 .tabs li a.active{
			font-size: 1.25rem; font-weight: bolder; color:#FFB300;
		}
#sec5 .panels{
	background:#fff;
	min-height:180px;
}
#sec5 .panel{
	display: none;
}
#sec5 .panel a{
      display: block;
      width:calc((100% - 60px) / 4);
      float:left;
      padding-top:50px;/*border:1px solid yellow;*/
      box-sizing:border-box;
      margin-right:20px;
}
#sec5 .panel a:last-child{margin-right:0} /*마지막사진만 공백을 안주는 효과*/
#sec5 .panel a img{width:100%;}
#sec5 .panel a.big_img{padding-top:0} /*padding-top을 주면 다같이 내려가기가 때문에 얘만 따로 설정*/
#sec5 .panel a.big_img img{width:auto;} /*a img{width:100%;} 을 주면 다같이 설정되기 때문에 얘만 따로설정*/
/*section5 종료*/

/*section6 시작*/

#sec6 .sec6_con1 {float: left;
                 width:calc((100% - 20px) / 2);
                 text-align: center;
                 }
#sec6 .sec6_box1 { float: left;
                   width:calc((100% - 20px) / 2);
                   height: 524px;
                   box-sizing: border-box;
                   border: 1px solid #070707;
                   padding-top: 50px;
                   margin-top: 50px;
                   position: relative;}
#sec6 .sec6_box1_content {width:100%; padding-bottom: 40px;}
#sec6 .sec6_box_txt1 {font-size:1.4rem;
      font-weight: bolder; padding-bottom: 30px;}
#sec6 .sec6_box_txt2 {font-size: 0.85rem;
      font-weight: normal; }
#sec6 .sec6_box_txt3 {font-size: 0.85rem;position:absolute; right:20px; bottom:20px;
      }

#sec6 .sec6_box2 {float: right;
                 width:calc((100% - 20px) / 2);
                 height: 524px;
                 box-sizing: border-box;
                 border: 1px solid #070707;
                 padding-top: 50px;
                 margin-top: 50px;
                 position: relative;}
#sec6 .sec6_box2_content {width:100%; padding-bottom: 40px;}


#sec6 .sec6_con2 {float: right;
                 width:calc((100% - 20px) / 2);}
#sec6 .sec6_con2_img1 {padding-top: 50px; padding-bottom:14px;}
#sec6 .sec6_con2 img{width:100%;}
/*section6 종료*/
/*#sec6 h2,#sec6 h3{display: block;}
#sec6 .sec6_title{width:400px;float:left;margin-right:35px;}
#sec6 .sec6_title img{width:100%}
#sec6 .sec6_cont{width:calc(100% - 435px); float:left;}*/

/*section7 시작*/
#sec7 {border-bottom: 1px solid #707070;}
#sec7_total {border-bottom: 1px solid #707070;}
#sec7 .sec7_con1 {width:35%; float: left; 
                  box-sizing: border-box;}
#sec7 .sec7_news {padding-right: 40px; border-bottom: 1px solid #707070;}
#sec7 .sec7_news h5 {position:relative;}
#sec7 .sec7_news .news7_plus {position:absolute; right:0; top: 0;}

#sec7 .sec7_news .news7_ul {padding-top:30px;}
#sec7 .sec7_news .news7_ul li {margin-bottom: 13px; position: relative; padding-left:30px;}
#sec7 .sec7_news .news7_ball {content: ''; display: block;
      width:5px; height: 5px; background-color: #707070; 
      border-radius: 50%;
      position:absolute; left: 0; top: 6px;}
#sec7 .sec7_news .news7_ul a {font-size: 0.9rem;}
#sec7 .sec7_news .news7_date {float: right;}

#sec7 .sec7_question {padding-top: 50px;}
#sec7 .sec7_question h5 {position:relative;}
#sec7 .sec7_question .question7_plus {position:absolute; right:40px; top: 0;}
#sec7 .question7_txt {font-size: 0.7rem; padding-top:3px;}

#sec7 .question7_ul {padding-top:30px;}
#sec7 .question7_ul li {margin-right:30px; border-bottom: 1px solid #707070; padding-bottom: 10px; padding-top: 10px; }
#sec7 .question7_litxt1 {font-size: 1rem; }
#sec7 .question7_litxt2 {text-align: right;}
#sec7 .question7_litxt2 .litxt2_span {padding-right: 50px;}
#sec7 .question7_ul a {font-size: 0.9rem;}


#sec7 .sec7_con2 {width:65%; float: left; border-left: 1px solid #707070; box-sizing: border-box;}
#sec7 .sec7_info {border-bottom: 1px solid #707070; padding-left: 50px; padding-bottom: 50px;}
#sec7 .sec7_info::after {content: ''; display: block; clear: both;}

#sec7 .sec7_info .info_top {width:642px; padding-top: 50px; padding-bottom: 50px;}
#sec7 .sec7_info .info_top li {float: left;
                               width:170px; height: 170px;
                               box-sizing: border-box;
                               margin-right: 20px; margin-bottom: 20px;  text-align: center;
                              padding-top: 25px;}
#sec7 .sec7_info .info_top_li1 {background-color: #eccc68;}
#sec7 .sec7_info .info_top_li2 {background-color: #ffa502;}
#sec7 .sec7_info .info_top_li3 {background-color: #7bed9f;}  
#sec7 .sec7_info .info_top_li4 {background-color: #2ed573;}  
#sec7 .sec7_info .info_top_li5 {background-color: #70a1ff;}  
#sec7 .sec7_info .info_top_li6 {background-color: #1e90ff;}  

#sec7 .sec7_info .info_top li img {filter: invert(100%) sepia(0%) saturate(9%) hue-rotate(159deg) brightness(104%) contrast(104%);}

#sec7 .sec7_info .info_top ul img {width: 55%; padding-bottom: 10px;}  
#sec7 .sec7_info .info_top ul p {font-size: 1rem;
                                 font-weight: bold;
                                 color:#fff;
                                 padding-top: 3px;} 



#sec7 .sec7_faq {padding-left: 50px; padding-top: 30px; padding-bottom: 30px;}
#sec7 .sec7_faq::after{content: ''; display: block; clear: both;}
#sec7 .sec7_faq h5 {position: relative;}
#sec7 .sec7_faq .faq_plus {position: absolute; right:20px; top:0;}
#sec7 .sec7_faq .faq_ul {padding-top:20px;}
#sec7 .sec7_faq .faq_ul li {float:left; margin-right: 20px;
                            width: 110px; height: 30px;
                            box-sizing: border-box;
                            border: 1px solid #000;
                            text-align: center;
                            padding-top: 5px;
                            font-size: 0.9rem; font-weight: bold;}
/*section7 종료*/

/*section8 시작*/

#sec8 {clear: both;}
#sec8 .sec8_box1 {width:35%; float: left;  box-sizing: border-box; padding-top: 50px;
                  padding-left: 30px;}

#sec8 .box1_first_txt1 {font-size: 20px; font-weight: bold; padding-bottom: 5px;}
#sec8 .box1_first_txt2 {font-size: 40px;
                         font-family : nexon_bold; padding-bottom: 30px;}
#sec8 .box1_first_txt3 {font-size: 35px;
                        font-family: nexon_bold;}
#sec8 .sec8_box1_second {padding-right: 200px;
                         padding-top: 40px; padding-bottom: 30px;
                        font-size: 15px; text-align: right;}
#sec8 .box1_second_txt1 {font-size: 1rem; font-weight: bolder; padding-bottom: 3px;}
#sec8 .box1_second_txt2 {font-size: 1rem; font-weight: bolder;}

#sec8 .sec8_box2 {width:65%; float: right; box-sizing: border-box; padding-top: 50px;}
#sec8 .sec8_box2 .sec8_box2_first {width: 50%; float: left;}
#sec8 .sec8_box2 .sec8_box2_second {width: 50%; float: left;}

#sec8 .sec8_box2_first {position: relative;}
#sec8 .box2_first_txt1 {font-size: 20px; font-weight: bold;}
#sec8 .box2_first_txt2 {font-size: 20px; font-weight: bold; font-family: nexon_bold;
                        padding-top: 20px; padding-bottom: 20px;}
#sec8 .box2_first_txt3 {font-size: 18px; font-weight: bold; 
                        padding-bottom: 80px;}
#sec8 .sec8_box2_ball {position: absolute; content:''; display: block;
                       width: 6px; height: 6px; background-color: #707070;
                       border-radius: 50%; left: -16px; top: 117px;}
#sec8 .box2_first_txt4 {font-size: 1rem; font-weight: bold;}

#sec8 .sec8_box2 .second_sub2 {position:relative;}
#sec8 .second_sub1 .second_sub1_txt1 {font-size: 20px; font-weight: bold;}
#sec8 .second_sub1 .second_sub1_txt2 {font-size: 18px; font-weight: bold;
                                      padding-top: 20px; padding-bottom: 40px;}
#sec8 .sec8_box2 .sec8_box2_second .second_sub2 img {width:5%; position: absolute; top: 0; left: 0;}
#sec8 .second_sub2 .second_sub2_txt1 {font-size: 18px; font-weight: bold; padding-left: 30px;}
#sec8 .second_sub2 .second_sub2_txt2 {font-size: 15px;}

#sec8 .second_sub3 .second_sub3_txt1 {font-size: 18px; font-weight: bold; padding-top: 20px; padding-left: 30px;}
#sec8 .second_sub3 .second_sub3_txt2 {font-size: 15px;}

#sec8 .sec8_box2 .second_sub3 {position:relative;}
#sec8 .sec8_box2 .sec8_box2_second .second_sub3 img {width:5%; position: absolute; top: 20px; left: 0;}
/*section8 종료*/s

/*section9 시작*/

#sec9 {clear:both;}
#sec9::after{content: ''; display: block; clear: both;}
#sec9 .sec9_total {width: 100%; padding:30px 0 ; background-color: #FFCC54;}
#sec9 .sec9_total::after{content:''; display: block; clear: both;}
#sec9 .sec9_topbox {float:right; padding-top: 0px; padding-bottom: 20px; position: relative;}
#sec9 .sec9_topbox_sbox {position: absolute; top:25px; right:200px;
                         width: 1080px; border-bottom: 1.5px solid #fff;}
#sec9 .sec9_leftbox {float:left;}
#sec9 .sec9_leftbox_txt1 {margin-bottom: 20px;
                          font-weight: bold; font-size: 16px;}
#sec9 .sec9_leftbox_txt2 {line-height: 20px; font-size: 14px;}

#sec9 .sec9_rightbox {float: right; padding-top: 40px;}

#sec9 .sec9_rightbox_txt {margin-bottom: 3px; font-size: 14px; font-weight: normal;}
#sec9 .sec9_rightbox_txt a {border-right: 1px solid #707070; padding-left: 10px ;padding-right: 20px;}/*a는 margin 안들어감*/
#sec9 .sec9_rightbox_txt a:last-child {border-right:0} /*마지막 선 삭제코드*/
#sec9 .sec9_rightbox_txt3 {font-size: 14px; font-weight: normal;
                           opacity: 0.8;}

#sec9 .sec9_topbox_span a img {width: 10%}



/*section9 종료*/